
// Colors //

$text-color : #4a4a4a;
$background-color : #fafafa;
$lighter-gray: #7f7f7f;
$white: #fff;

//Max Width Percentage //

$width: 90.625%;

// Text Variables //

$bold: 700;
$light: 300; 
$small-font : 12px;
$medium-font : 14px;
$large-font: 16px;
$extra-large-font: 20px;
$font-family: 'Open Sans', sans-serif;

//Media Queries // 
$brk-narrow : '(min-width: 768px)';
$brk-wide   : '(min-width: 1024px)';